.root {
    -fx-background-color: #212121;
    background-color: #212121;
    -fx-border-radius: 20px;
    border-radius: 20px;
}

.center-one {
    -fx-background-color: #302f2f;
    background-color: #302f2f;
}

.sidebar-title {
    -fx-font-size: 28px;
    font-size: 28px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-fill: white;
    fill: white;
    -fx-text-alignment: center;
}

.sidebar-topic {
    -fx-font-size: 18px;
    font-size: 18px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-fill: white;
    fill: white;
    -fx-text-alignment: left;
}

.px-1 {
    -fx-padding: 0 5px;
    padding: 0 5px;
}

.px-2 {
    -fx-padding: 0 10px;
    padding: 0 10px;
}

#text {
    -fx-text-fill: white;
}

/* define main color */
.root {
    -hitbeat-main-color: #cf352e;
    -hitbeat-main-color-hover: #cf352e33;
    -hitbeat-main-color-pressed: #cf352e66;
}

.transparent {
    -fx-background-color: transparent;
    background-color: transparent;
}

.rounded-sm {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    border-radius: 10;
}

.min-button {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-padding: 0px;
    padding: 0px;
}

.min-button .mfx-ripple-generator {
    -mfx-auto-clip: true;
    -mfx-ripple-color: -hitbeat-main-color;
    -fx-background-radius: 100;
}

.fab {
    -fx-background-color: -hitbeat-main-color;
    background-color: -hitbeat-main-color;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    border-radius: 100;
    -fx-padding: 0px;
    padding: 0px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0), 15, 0.01, 5, 5);
}

.fab .mfx-ripple-generator {
    -mfx-auto-clip: true;
    -mfx-ripple-color: -hitbeat-main-color;
    -fx-background-radius: 100;
}

.mfx-scroll-pane {
    -fx-background-color: transparent;
    background-color: transparent;
}

.header {
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    min-height: 50px;
    -fx-max-height: 50px;
    max-height: 50px;
}

.header .title {
    -fx-font-size: 18px;
    font-size: 18px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-fill: white;
    fill: white;
    -fx-text-alignment: left;
    -fx-text-fill: white;
}

.placeholder {
    -fx-text-fill: white;
    -fx-fill: white;
    fill: white;
    -fx-font-size: 24px;
    font-size: 24px;
    -fx-font-weight: bold;
    font-weight: bold;
}

.loading-text {
    -fx-text-fill: white;
    -fx-fill: white;
    fill: white;
    -fx-font-size: 18px;
    font-size: 18px;
    -fx-font-weight: bold;
    font-weight: bold;
}

.main-text {
    -fx-text-fill: white;
    -fx-fill: white;
    fill: white;
}

.mfx-text-field {
    -mfx-main: -hitbeat-main-color;
}

.new-playlist-cover-edit {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0), 10, 0.6, 0, 0);
}

.elevated-play-btn {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0), 15, 0.6, 0, 0);
}

.mfx-slider .thumb-container:hover .thumb-radius {
    -mfx-color: -hitbeat-main-color-hover;
    color: -hitbeat-main-color-hover;
}

.mfx-slider .thumb-container:pressed .thumb-radius {
    -mfx-color: -hitbeat-main-color-pressed;
    color: -hitbeat-main-color-pressed;
}

.flames {
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0.3, 0, 0);
}