.sidebar-button {
    -fx-background-color: #2195f300;
    background-color: #2195f300;
    -fx-text-fill: blue;
}

.root {
    -fx-background-color: #212121;
    background-color: #212121;
    -fx-border-radius: 20px;
    border-radius: 20px;
}

.center-one {
    -fx-background-color: #302f2f;
    background-color: #302f2f;
}

.sidebar-title {
    -fx-font-size: 28px;
    font-size: 28px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-fill: white;
    fill: white;
    -fx-text-alignment: center;
}

.sidebar-topic {
    -fx-font-size: 18px;
    font-size: 18px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-fill: white;
    fill: white;
    -fx-text-alignment: left;
}
.px-1 {
    -fx-padding: 0 5px;
    padding: 0 5px;
}

.px-2 {
    -fx-padding: 0 10px;
    padding: 0 10px;
}

#text {
    -fx-text-fill: white;
}

/* define main color */
.root {
    -main-color: #8A2BE2;
}

.transparent {
    -fx-background-color: transparent;
    background-color: transparent;
}