module hitbeat {
    requires javafx.base;
    requires javafx.controls;
    requires javafx.fxml;
    requires javafx.media;
    requires javafx.graphics;
    requires io.reactivex.rxjava3;
    requires org.hibernate.orm.core;
    requires org.hibernate.orm.community.dialects;
    requires jakarta.activation;
    requires mp3agic;
    requires mfx.core;
    requires lombok;
    requires org.apache.derby.commons;
    requires org.apache.derby.engine;
    requires org.apache.derby.tools;
    requires commons.beanutils;
    requires MaterialFX;
    requires mfx.effects;
    requires mfx.resources;
    requires java.base;
    requires static jakarta.persistence;

    // exports hitbeat;
    // exports hitbeat.controller;
    // exports hitbeat.model;
    // exports hitbeat.util;
    // exports hitbeat.view;
    // exports hitbeat.view.base.mementos;
    // exports hitbeat.view.base.widgets;
    // exports hitbeat.view.Player;
    // exports hitbeat.view.sidebar;
    // exports hitbeat.view.tracks;
    // exports hitbeat.controller.Albums;
    // exports hitbeat.controller.artists;
    // exports hitbeat.controller.genres;
    // exports hitbeat.controller.playlist;
    // exports hitbeat.controller.tracks;
    // exports hitbeat.controller.enums;
    // exports hitbeat.controller.library;
    // exports hitbeat.controller.player;
    // exports hitbeat.dao;
    // exports hitbeat.view.base.utils;
    // exports hitbeat.view.base.widgets.listview;
    // exports hitbeat.view.artists;
    // exports hitbeat.view.genres;
    // exports hitbeat.view.library;
    // exports hitbeat.view.playlists;

    opens hitbeat to javafx.fxml, lombok;
    opens hitbeat.view to javafx.fxml, lombok;
    opens hitbeat.view.base.widgets to javafx.fxml, lombok;
    opens hitbeat.view.base.widgets.listview to javafx.fxml, lombok;
    opens hitbeat.view.base.utils to javafx.fxml, lombok;
    opens hitbeat.view.Player to javafx.fxml, lombok;
    opens hitbeat.view.sidebar to javafx.fxml, lombok;
    opens hitbeat.view.tracks to javafx.fxml, lombok;
    opens hitbeat.view.artists to javafx.fxml, lombok;
    opens hitbeat.view.genres to javafx.fxml, lombok;
    opens hitbeat.view.library to javafx.fxml, lombok;
    opens hitbeat.view.playlists to javafx.fxml, lombok;
    opens hitbeat.view.base.mementos to javafx.fxml, lombok;
    opens hitbeat.controller to lombok;
    opens hitbeat.controller.enums to lombok;
    opens hitbeat.controller.library to lombok;
    opens hitbeat.controller.player to lombok;
    opens hitbeat.controller.playlist to lombok;
    opens hitbeat.controller.tracks to lombok;
    opens hitbeat.controller.artists to lombok;
    opens hitbeat.controller.genres to lombok;
    opens hitbeat.controller.Albums to lombok;
    opens hitbeat.dao to lombok;
    opens hitbeat.model to lombok;
    opens hitbeat.util to lombok;

}
