#playPauseBtn {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    border-radius: 50%;
    -fx-padding: 0px;
    padding: 0px;
}

#playPauseBtn .mfx-ripple-generator {
	-mfx-auto-clip: true;
    -mfx-ripple-color: red;
    -mfx-ripple-background: red;
}

.mfx-button {
    -fx-background-color: transparent !important;
    background-color: transparent !important;
    -fx-padding: 0px;
    padding: 0px;
}
.mfx-button .mfx-ripple-generator {
    -mfx-auto-clip: true;
}