@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans:400,500,700&display=swap');

.tutorial-card {
    -fx-background-color: #302f2f;
    background-color: #302f2f;
    -fx-padding: 10px;
    padding: 10px;
    -fx-border-radius: 10px;
    border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: -main-theme-color;
    border-color: -main-theme-color;
    -fx-border-width: 1px;
    border-width: 1px;
}

.tutorial-card .tutorial-label {
    -fx-font-size: 16px;
    font-size: 16px;
}

.tutorial-card .tutorial-content-label {
    -fx-font-size: 12px;
    font-size: 12px;
}

.welcome-text-label {
    -fx-font-size: 20px;
    font-size: 20px;
    -fx-text-fill: -hitbeat-main-color;
    -fx-font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
}

