.list-view {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	border-radius: 10;
	-fx-spacing: 10;
}

.list-view .list-cell {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	border-radius: 10;
	-fx-border-color: transparent;
	border-color: transparent;
	-fx-border-width: 1;
	border-width: 1;
	/* border only at bottom */	
}

.my-cell:hover {
	-fx-background-color: rgba(128, 128, 128, 0.253);
	background-color: rgba(128, 128, 128, 0.253);
}

.list-view .list-cell:empty {
	-fx-background-color: transparent;
	background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	border-radius: 10;
	-fx-border-color: transparent;
	border-color: transparent;
	-fx-border-width: 1;
	border-width: 1;
}

.my-cell {
	-fx-background-color: rgba(128, 128, 128, 0.041);
	background-color: rgba(128, 128, 128, 0.041);
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	border-radius: 10;
	/* shadow */
	-fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 15, 0, 5, 5);
}