.song-edit-row {
    -fx-padding: 10px;
    padding: 10px;
}

.song-edit-row .mfx-text-field {
    -fx-background-color: transparent;
    background-color: transparent;
    -mfx-background-color: transparent;
    -fx-text-fill: white ;
}

.text-field-title {
    -fx-font-size: 12px;
    font-size: 12px;
    -fx-fill: white;
    fill: white;
    -fx-text-alignment: left;
}

/* .library-page {
    -fx-padding: 10px;
    padding: 10px;
} */

.library-page .scroll-pane {
    /* -fx-padding: 10px;
    padding: 10px; */
    -fx-background-color: transparent;
    background-color: transparent;
}

.library-page .files-box {
    -fx-background-color: transparent;
    background-color: transparent;
}

.library-page .files-box .hbox .mfx-text-field {
    -fx-background-color: transparent;
    background-color: transparent;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: transparent;
}

.library-page .save-button {
    -fx-alignment: BOTTOM_RIGHT;
    /* Other styles for positioning, padding, etc. */
}

.library-page .button-raised {
    /* Your button styles here */
    -fx-background-color: -hitbeat-main-color;
    background-color: -hitbeat-main-color;
    -fx-text-fill: white;
}

.drag-and-drop {
    -fx-background-color: #443F3F;
    background-color: #443F3F;
    -fx-border-color: black;
    border-color: black;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-radius: 10px;
    border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-padding: 10px;
    padding: 10px;
}

.drag-and-drop.drag-over {
    -fx-background-color: #443F3F;
    background-color: #443F3F;
    -fx-border-color: -hitbeat-main-color;
    border-color: -hitbeat-main-color;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-radius: 10px;
    border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-padding: 10px;
    padding: 10px;
}

.drag-and-drop .text {
    -fx-font-size: 16px;
    font-size: 16px;
    -fx-fill: #B4B4B4;
    fill: #B4B4B4;
    -fx-text-alignment: center;
}

